.login__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.login__header {
  text-align: center;
}

.login__header img {
  width: 50px;
  height: 50px;
}

.login__header h1 {
  color: red;
}

.login__body form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.login__body form label {
  color: green;
}

.login__body form input {
  color: black;
  margin-bottom: 10px;
}

button {
  background-color: blue;
  color: white;
}

a {
  color: blue;
  cursor: pointer;
}

.error-message {
  color: red;
  margin-top: 10px;
}
