.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  text-align: center;
}

header img {
  width: 100px;
  height: 100px;
}

header h1 {
  color: red;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

form label {
  color: green;
}

form input {
  color: black;
  margin-bottom: 10px;
}

button {
  background-color: blue;
  color: white;
}

a {
  color: blue;
  cursor: pointer;
}

.error-message {
  color: red;
  margin-top: 10px;
}
