body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0; /* Cambia el color de fondo si lo deseas */
}

.registro-container {
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

header {
  text-align: center;
  padding: 20px;
}

header img {
  width: 100px;
  height: 100px;
}

header h1 {
  color: green;
}

main {
  text-align: center;
  margin-top: 50px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form label {
  color: black;
  display: block;
  margin-bottom: 5px;
  width: 100%;
}

form input {
  padding: 8px;
  margin-bottom: 10px;
  width: 100%;
}

form button {
  background-color: green;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
}

p a {
  color: blue;
}

a {
  display: block;
  margin-top: 20px;
  text-align: center;
}
