<div class="container">
  <header class="header">
    <img src="assets/Imagen1.png" alt="Logo" class="logo" />
  </header>
  <div class="sidebar">
    <a routerLink="/login">Inicia sesión</a>
  </div>
  <div class="rightbar">
    <p>Grupo KFC</p>
  </div>
  <div class="main-content">
    <div class="registro-content">
      <h2>Registro</h2>
      <form>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" />
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" />
        <label for="confirm-password">Confirm Password:</label>
        <input type="password" id="confirm-password" name="confirm-password" />
        <button type="submit">Registro</button>
      </form>
    </div>
  </div>
  <footer>Derechos reservados: pjr.reyes&#64;yavirac.edu.ec</footer>
</div>
